<template>
	<div class="tile is-child">
		<form @submit.prevent="register">
		<div class="tile is-ancestor">
			<producerphoto></producerphoto>
		
			

			<div class="tile is-parent is-vertical is-5 is-vertical-center">
				<reproductor></reproductor>
				<info></info>
  			</div>

		 	<buttons></buttons>
		</div>
		</form>
	</div>
</template>

<script>
import File from './fileinfo/info.vue'
import Reproductor from '../reproductor/player.vue'
import Buttons from './filebuttons/buttons.vue'
import Producerphoto from '../producers/producerphoto.vue'

export	default {
	components: {
		'info':File,
		'reproductor':Reproductor,
		'buttons':Buttons,
		'producerphoto':Producerphoto,
	}
};
	
</script>
<style lang='scss' scoped>

#beat {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15%;
}
	
</style>