/* eslint-disable */
<template>
<div>
<footer class="footer">
  <div class="container">
<nav class="breadcrumb is-centered has-bullet-separator" aria-label="breadcrumbs">
  <ul>
    <li>HABEATAT</li>
    <li>PRODUCERS</li>
    <li>CONTACT</li>
    <li>TERMS / CONDITIONS</li>
    <li>FAQ</li>
  </ul>
</nav>
<div class="content has-text-centered">
      <p> &copy; {{año}} - HABEATAT. All rigths reserved</p>
    </div>
  </div>
</footer>
</div>

</template>
<script>
/* eslint-disable */
var fecha = new Date();
var año = fecha.getFullYear();
export default{
  data() {
    return {
      año:año
    }
  },

}    
</script>
<style>
/* eslint-disable */
.footer {

  background-color: #2d2d2d;
  padding: 10px;
  position:fixed;
  bottom: 0%;
  width: 100%;
}

.breadcrumb {
  margin-bottom: 10px;
}

.breadcrumb:not(:last-child) {
    margin-bottom: 0px;
}

.footer p {
  font-size: 70%;
  color: #4c4c4c;
}
  
.footer nav li {
  font-size: 100%;
  color: #f2f2f2;
  padding: 10px
  
}




</style>
