<template>
  <article class="tile is-child is-3">
    <div v-if="verify" class="has-text-right has-text-grey is-12">
      <a class="is-italic is-size-5 linkout" @click="logout">LOG OUT</a>
    </div>
  </article>
</template>
<script>
import swal from 'sweetalert2'
export default {
  props:['verify'],
  methods: {
    logout () {
      this.$auth.destroyToken()
      this.$router.push('/')
      this.$store.dispatch('logoutAuthenticatedUser')
      swal({
        type: 'success',
        title: 'LOG OUT',
        text: 'Youleft The Repro',
        confirmButtonClass: 'button',
        buttonsStyling: false,
        background: '#f2f2f2'
      })
    }
  }
};
</script>
<style scoped>
.button{
  width: 400px;
}
</style>
