<template>
  <div class="tile is-ancestor" id="loginreg">
    <div class="tile is-5 is-vertical is-parent">
      <div class="tile is-child has-text-centered">
        <h1>THE REPRO</h1>
      </div>

      <div class="tile is-child has-text-centered">
        <router-link to="/login">
          <a class="button">

            LOGIN
          </a>
        </router-link>

        <router-link to="/register">
          <a class="button">
            REGISTER
          </a>
        </router-link>
      </div>
    </div>
  </div>

</template>

<script>

</script>
<style scoped>
.button {
    width: 200px;
    height: 40px;
    margin: 5px;
    font-size: 16px;
}
#loginreg{
    font-size: 30px;
    padding-top: 20%;
    padding-bottom: 20%;
    margin-bottom: 0%;

}
</style>
