html {
    background:url('./background.png');
    background-size: cover;
}
.logo-box{
	position: absolute;
	z-index: -1;
}

.linkout,.linkout:link{
	color:#4a4a4a;
	text-decoration:none;
}

.has-white{
	background: white !important;
}

.has-black{
	background: #4a4a4a !important;
}

.has-grey{
	background: hsl(0, 0%, 86%);
}

.padding1{
	padding: 2px 5px 2px 5px !important;
}
.padding2{
	padding: 4px 20px 4px 20px !important;
}
.sup-margin{
	margin: 2% 0 0 0 !important;
}
.img-box-padding{
	padding: 10px 37% 10px 37% !important;
}

.rounded5,.rounded100, .hideflow{overflow: hidden;}

.rounded100{border-radius: 100%;}
.rounded5{border-radius: 5%;}

.is-vertical-center, .is-vertical-right{
	display: flex !important;
}

.is-vertical-center{
	align-items: center !important;
}
.is-vertical-right{
	align-items: flex-end !important;
}
