<template>
<div>
    <div class="modal is-active">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
            <Stretch v-show="spinnerTC === true"></Stretch><p class="modal-card-title has-text-centered"> TERMS & CONDITIONS</p>

            </header>
            <section class="modal-card-body">
                <ol>
                    <li>Consectetur occaecat exercitation consequat nulla mollit laboris incididunt eiusmod fugiat aliquip fugiat reprehenderit. Do in nostrud in do velit do deserunt occaecat. Eu voluptate nisi in excepteur.</li>
                    <li>Irure culpa minim laborum eu enim non incididunt. Commodo in et incididunt sit nisi sit anim ut amet reprehenderit sunt. Reprehenderit excepteur Lorem id adipisicing aliquip dolor.</li>
                    <li>Excepteur mollit excepteur voluptate esse. Est irure ea consectetur incididunt excepteur exercitation minim elit consectetur deserunt sint quis irure. Laboris veniam duis officia est voluptate veniam id.</li>
                    <li>Id id est consequat incididunt ex consequat minim enim in nisi. Non sunt nisi et adipisicing culpa commodo est. Consectetur deserunt eu nostrud do qui dolore cupidatat commodo. Velit reprehenderit do Lorem amet officia exercitation magna. Non sunt ad excepteur ex officia nostrud nulla aliqua labore occaecat non nulla. Dolor laborum reprehenderit occaecat consequat exercitation minim laborum. Eiusmod nisi qui cupidatat velit incididunt esse consequat sit deserunt exercitation laboris labore duis.</li>
                    <li>Incididunt nulla irure velit adipisicing. Eiusmod laboris excepteur officia dolore quis culpa occaecat labore eu laborum irure. Ea elit tempor sint irure ipsum dolor consectetur. Veniam amet aliqua amet cupidatat ad. Magna labore ut consequat aute excepteur sit ipsum dolor sit.</li>
                    <li>Veniam labore in cupidatat esse consectetur id. Velit aliquip commodo aute non eu cillum commodo voluptate ea. Ullamco excepteur aute nostrud nisi Lorem do sunt quis. Velit est qui in eiusmod cillum labore aliquip minim. Occaecat deserunt cillum magna id proident quis. Non culpa occaecat aliquip dolor. Incididunt dolor ex proident ut minim commodo do proident proident do ut.</li>
                    <li>Adipisicing excepteur sunt consequat enim mollit. Quis aliquip proident magna cupidatat. Quis fugiat qui laborum aliqua adipisicing incididunt officia. Et irure fugiat ut dolor nulla reprehenderit anim id quis sunt.</li>
                    <li>Do sunt nisi ullamco officia enim incididunt Lorem fugiat. Quis non qui elit nostrud velit nostrud eiusmod. Qui ullamco mollit dolore adipisicing do. Aute nisi pariatur reprehenderit sint labore magna aliqua magna culpa laboris elit qui. Sint sunt aliquip esse ipsum id deserunt dolor eu. Nulla non aliquip velit est do sunt anim dolor labore dolore eiusmod enim aliqua magna. Irure non mollit laboris sint.</li>
                    <li>Officia anim dolor ullamco nostrud magna elit veniam ut proident ea ipsum ut eiusmod. Sunt officia magna tempor irure qui laborum et aliqua. Velit incididunt ullamco consequat adipisicing elit reprehenderit mollit amet magna in aliquip irure.</li>
                    <li>Aute id velit est et. Sint aliquip occaecat minim esse non ea officia eu qui veniam. Sint cupidatat esse aliquip amet.</li>
                    <li>Laboris esse officia mollit enim culpa proident. Sint amet non irure incididunt do nisi aute laborum enim non veniam. Enim labore ad ipsum quis laboris occaecat reprehenderit amet minim veniam.</li>
                    <li>Consequat consectetur culpa eu adipisicing reprehenderit ex est enim et excepteur sunt deserunt Lorem tempor. Dolor ex consequat fugiat irure quis ea commodo irure officia magna aute incididunt laborum. Enim consequat ipsum excepteur pariatur.</li>
                    <li>Do aliquip amet eiusmod fugiat. In proident magna voluptate anim sit id ad voluptate excepteur. Est do reprehenderit eiusmod cillum commodo labore elit aliqua incididunt. Est velit officia magna exercitation cillum nulla. Laborum fugiat mollit sunt velit. In pariatur ea irure elit elit aute culpa consequat sunt. Est eiusmod aliqua voluptate nisi anim aliqua incididunt aute elit officia.</li>
                    <li>Cupidatat occaecat sit cillum labore voluptate minim ipsum eiusmod Lorem id est anim consectetur aute. Ut proident laborum quis anim aute commodo id dolore. Do reprehenderit quis laboris reprehenderit duis sit. Deserunt nisi sunt enim eu tempor ipsum officia. Pariatur dolore id ex laborum consectetur nostrud.</li>
                    <li>Et proident in cupidatat ex pariatur officia eiusmod aliqua anim laborum adipisicing culpa. Minim proident cillum Lorem dolor. Consectetur occaecat in culpa esse sint incididunt anim voluptate. Aute consectetur id aliquip eu magna sunt irure incididunt cupidatat duis labore enim ex non. Tempor deserunt veniam irure occaecat culpa.</li>
                    <li>Amet eu et in laborum id. Labore nostrud eiusmod exercitation sit cillum id nostrud in. Culpa esse labore minim deserunt tempor deserunt reprehenderit sint cillum.</li>
                    <li>Dolor commodo veniam consequat veniam velit incididunt sunt. Consectetur velit fugiat in tempor id aliqua minim occaecat duis velit dolor aute. Incididunt pariatur labore ut ullamco sunt commodo sint reprehenderit.</li>
                    <li>Cillum reprehenderit irure adipisicing qui sit. Incididunt laborum reprehenderit id non eiusmod in. Eu tempor quis cillum mollit est duis.</li>
                    <li>Qui quis minim et nisi. Excepteur irure magna excepteur elit laboris esse ea tempor ullamco magna adipisicing velit in. Culpa velit sunt do labore proident velit commodo cupidatat veniam occaecat labore. Ipsum labore fugiat culpa cupidatat non dolore exercitation sit id incididunt consequat do in.</li>
                    <li>Pariatur aliqua commodo velit culpa irure qui est amet proident. Excepteur minim tempor ad commodo dolor exercitation ullamco ad nisi tempor velit magna ad. Fugiat quis proident eiusmod excepteur irure ut.</li>
                </ol>
            </section>
            <footer class="modal-card-foot">
            <div class="columns is-multiline">
                <div class="column is-12 has-text-centered">
                    <label class="checkbox">
                        <input  v-model="checkTC"  name="terms" v-validate="'required'" type="checkbox">
                        I agree to the terms and conditions
                    </label>
                <transition name="fade" mode="out-in" >
                <span class="tag is-rounded" v-show="errors.has('terms')">{{ errors.first('terms') }}</span>
                </transition>
                </div>
                <div class="column is-6 has-text-centered">
                <button class="button" id="agree" @click="agree" >ACCEPT</button>
                </div>
                <div class="column is-6 has-text-centered">
                <button class="button" id="cancel" @click="close" >CANCEL</button>
                </div>
            </div>
            </footer>
        </div>
        <button class="modal-close is large " @click="close" aria-label="close"></button>
    </div>
</div>
</template>
<script>
import swal from 'sweetalert2'
import { Stretch } from 'vue-loading-spinner'
export default {
  computed: {
    checkTC: {
      get () {
        return this.$store.getters.checkTermsCond
      },
      set (value) {
        this.$store.dispatch('checkTermsCond', value)
      }
    },
    spinnerTC () {
      return this.$store.getters.spinnerTermsCond
    }
  },

  methods: {
    close () {
      this.$store.dispatch('checkTermsCond', false)
      this.$store.dispatch('setspinnerTC', false)
      return this.$emit('close')
    },
    agree () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.$store.dispatch('setspinnerTC', true)
          return this.$emit('agree')
        } else {
          this.$store.dispatch('checkTermsCond', false)
          this.$store.dispatch('setspinnerTC', false)
          swal({
            type: 'error',
            title: 'Terms & Conditions',
            text: 'You must agree with terms & Conditions',
            confirmButtonClass: 'button',
            buttonsStyling: false,
            background: '#f2f2f2'
          })
        }
      })
    }
  },
  components: {
    Stretch
  }
}
</script>
<style lang='scss' scoped>
.button {
  width: 200px;
  height: 50px;
}
.modal-card-title {
  color: #ff6861;
}
</style>
