<template>
  <div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card ">
      <header class="modal-card-head">
        <Stretch v-show="spinner === true"></Stretch>
        <p class="modal-card-title has-text-centered"> CHANGE PASSWORD</p>
      </header>
      <section class="modal-card-body">
        <form class="tile is-child " @submit.prevent="accept">
          <div class="field">
            <div class="control">
              <label for="new_password">NEW PASSWORD:</label>
              <input v-model="reg.password" type="password" class="input" placeholder="" id="new_password" name="new_password" v-validate="'required|min:6'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('new_password')">{{ errors.first('new_password') }}</span>
                </transition>
              </div>
              <label for="confirm_password">CONFIRM PASSWORD:</label>
              <input v-model="reg.confirm_password" type="password" class="input" placeholder="" id="confirm_password" name="confirm_password" v-validate="'required|confirmed:new_password'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('confirm_password')">{{ errors.first('confirm_password') }}</span>
                </transition>
              </div>
            </div>
          </div>
            <div class="tile is-parent">
          <div class="tile has-text-centered">
            <button  class="button" type="submit" >ACCEPT</button>
          </div>
        </div>
        </form>
        <div class="tile is-parent">
          <div class="tile has-text-centered">
            <button  class="button" @click="close">CANCEL</button>
          </div>
        </div>
      </section>
    </div>
    <button class="modal-close is large " @click="close" aria-label="close"></button>
  </div>
</template>
<script>
import swal from 'sweetalert2'
import { Stretch } from 'vue-loading-spinner'
export default {
  data () {
    return {

      reg: {
        password: '',
        confirm_password: ''
      }

    }
  },
  methods: {
    close () {
      this.$store.dispatch('setspinnerTC', false)
      return this.$emit('close')
    },
    accept () {
      this.$validator.validateAll().then(result => {
        if (result) {
          let token = this.$auth.getToken()
          var axiosConfig = {
            headers: {
              'Accept': 'application/json, text/plain, */*',
              'Authorization': 'token ' + token
            }
          }
          const user = {
            password: this.reg.password
          }
          this.$http
            .patch('/user/' + this.authId + '/', user, axiosConfig)
            .then(response => {
              swal({
                type: 'success',
                title: 'Password Changed',
                text: 'You have Changed your Password',
                confirmButtonClass: 'button',
                buttonsStyling: false,
                background: '#f2f2f2'
              })
              this.reg.password = ''
              this.reg.confirm_password = ''
              this.close()
            })
          this.$store.dispatch('setspinnerTC', true)
        } else {
          this.$store.dispatch('setspinnerTC', false)
          swal({
            type: 'error',
            title: 'Change Password',
            text: " You Didn't change your password",
            confirmButtonClass: 'button',
            buttonsStyling: false,
            background: '#f2f2f2'
          })
        }
      })
    }

  },
  components: {
    Stretch
  },
  computed: {
    spinner () {
      return this.$store.getters.spinnerTermsCond
    },
    authId () {
      return this.$store.getters.AuthUserId
    }
  }
}
</script>

<style scoped>
  .modal-card-title {
    color: #ff6861;
  }

</style>
