<template>
<div class="tile is-ancestor">
  <div class="tile is-vertical">
  <div class="tile is-parent  has-text-centered  is-size-4" id="loginTitle">
    LOGIN
  </div>
 <div class="tile is-parent  has-text-centered is-desktop is-size-4" id="login">
    <form @submit.prevent="login">
      <div class="tile is-child box " id="loginForm">
        <div class="field">
          <div class="control">
            <label for="username" id="labelusername">EMAIL / USERNAME:</label>
            <input type="text" v-model="username" class="input" placeholder="" id="username" name="username" v-validate="'required'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                <span class="tag is-rounded" v-show="errors.has('username')">{{ errors.first('username') }}</span>
                </transition>
              </div>

            <label for="password" id="labelpassword">PASSWORD:</label>
            <input type="password" v-model="password" class="input" placeholder="" id="password" name="password" v-validate="'required'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                <span class="tag is-rounded" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                </transition>
              </div>
          </div>
        </div>
      </div>
      <div class="tile is-child" id="loginFp">
        <a href="http://">¿ Forgot Password ?</a>
      </div>
      <div class="tile is-child" id="loginButtom">
        <button class="button" id="loginButton" type="submit">LOGIN</button>
      </div>
    </form>
  </div>
</div>
</div>
</template>
<script>
/* eslint-disable */
import swal from "sweetalert2";

export default {
  data() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    login() {
      this.$validator.validateAll().then(result => {
        if (result) {
          const user = {
            username: this.username,
            password: this.password
          };
          this.$http
            .post("/login/", user)
            .then(response => {
              this.$auth.setToken(
                response.data.token,
                500000000000 + Date.now()
              );
              if (response.status === 200) {
                swal({
                  type: "success",
                  title: "Welcome",
                  text: response.data.user,
                  confirmButtonClass: "button",
                  buttonsStyling: false,
                  background: "#f2f2f2"
                })
                this.$store.dispatch('IsAuthenticated')
                this.$router.replace('/init1')
              }
              
            })
            .catch(error => {
              if (error.response.status === 400) {
                swal({
                  type: "error",
                  title: "Wrong Credentials",
                  text: "wrong Username or Password",
                  confirmButtonClass: "button",
                  buttonsStyling: false,
                  background: "#f2f2f2"
                });
              }
            });
        }
      });
    }
  }
};
</script>
<style>
#login {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10%;
}

#loginTitle {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  color: #ff6861;
}
</style>

<div class="container is-fluid" id="contenedor">
  <div class="tile is-vertical has-text-centered  is-size-4" id="loginTitle">
    LOGIN
  </div>
  <div class="tile is-parent  is-vertical has-text-centered is-desktop" id="login">
    <form @submit.prevent="login">
      <div class="tile is-child box " id="loginForm">
        <div class="field">
          <div class="control">
            <label for="username" id="labelusername">EMAIL / USERNAME:</label>
            <input type="text" v-model="username" class="input" placeholder="" id="username" name="username" v-validate="'required'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                <span class="tag is-rounded" v-show="errors.has('username')">{{ errors.first('username') }}</span>
                </transition>
              </div>

            <label for="password" id="labelpassword">PASSWORD:</label>
            <input type="password" v-model="password" class="input" placeholder="" id="password" name="password" v-validate="'required'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                <span class="tag is-rounded" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                </transition>
              </div>
          </div>
        </div>
      </div>
      <div class="tile is-child" id="loginFp">
        <a href="http://">¿ Forgot Password ?</a>
      </div>
      <div class="tile is-child" id="loginButtom">
        <button class="button" id="loginButton" type="submit">LOGIN</button>
      </div>
    </form>
  </div>
</div>