<template>
<div class="tile is-ancestor">
    <transition name="modal">
    <modal v-show="modal" @agree="agree" @close="modal = false"></modal>
  </transition>
  <div class="tile is-vertical">
    <div class="tile is-parent  has-text-centered  is-size-4" id="regTitle">
      REGISTER
    </div>
    <div class="tile is-parent  is-vertical has-text-centered is-4 is-desktop" id="reg">
      <form @submit.prevent="register">
        <div class="tile is-child box " id="regForm">
          <div class="field">
            <div class="control">
              <label for="firstname" id="labelfullname">FIRST NAME:</label>
              <input type="text" v-model="reg.first_name" class="input" placeholder="" id="firstname" name="firstname" v-validate="'required|alpha'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('firstname')">{{ errors.first('firstname') }}</span>
                </transition>
              </div>

              <label for="lastname" id="labelfullname">LAST NAME:</label>
              <input type="text" v-model="reg.last_name" class="input" placeholder="" id="lastname" name="lastname" v-validate="'required|alpha'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('lastname')">{{ errors.first('lastname') }}</span>
                </transition>
              </div>
              <label for="email" id="labelemail">EMAIL:</label>
              <input type="text" v-model="reg.email" class="input" placeholder="" id="email" name="email" v-validate="'required|email'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                </transition>
              </div>

              <label for="username" id="labelusername">USERNAME:</label>
              <input type="text" v-model="reg.username" class="input" placeholder="" id="username" name="username" v-validate="'required|alpha_num'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('username')">{{ errors.first('username') }}</span>
                </transition>
              </div>

              <label for="password" id="labelpassword">PASSWORD:</label>
              <input type="password" v-model="reg.password" class="input" placeholder="" id="password" name="password" v-validate="'required|min:6'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('password')">{{ errors.first('password') }}</span>
                </transition>

              </div>

              <label for="confpassword" id="labelconfpassword"> CONFIRM PASSWORD:</label>
              <input type="password" v-model="reg.password2" class="input" placeholder="" id="confpassword" name="confpassword" v-validate="'required|confirmed:password'"
                data-vv-as="password">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded " v-show="errors.has('confpassword')">{{ errors.first('confpassword') }}</span>
                </transition>

              </div>

            </div>
          </div>
        </div>
        <div class="tile is-child" id="regButtom">
          <button class="button" id="regButton" type="submit">REGISTER</button>
        </div>
      </form>
    </div>
  </div>
</div>

</template>
<script>
import swal from 'sweetalert2'
import Modal from '../modals/modalTermsCond'
export default {
  data () {
    return {
      modal: false,
      reg: {
        first_name: '',
        last_name: '',
        email: '',
        username: '',
        password: '',
        password2: '',
        user_type: '3'
      }
    }
  },
  computed: {
    checkTC () {
      return this.$store.getters.checkTermsCond
    },
    spinnerTC () {
      return this.$store.getters.spinnerTermsCond
    }
  },

  methods: {
    agree () {
      this.$http
        .post('/register/', this.reg)
        .then(response => {
          this.modal = false
          this.$store.dispatch('checkTermsCond', false)
          this.$store.dispatch('setspinnerTC', false)
          swal({
            type: 'success',
            title: 'Welcome',
            text: 'You have been Registered to The Repro',
            confirmButtonClass: 'button',
            buttonsStyling: false,
            background: '#f2f2f2'
          })
          this.$router.push('/login')
        })
        // eslint-disable-next-line
        .catch(error => {
          this.modal = false
          this.$store.dispatch('checkTermsCond', false)
          this.$store.dispatch('setspinnerTC', false)
          swal({
            type: 'error',
            title: 'Error',
            text: this.error,
            confirmButtonClass: 'button',
            buttonsStyling: false,
            background: '#f2f2f2'
          })
        })
    },
    register () {
      this.$validator.validateAll().then(result => {
        if (result) {
          this.modal = !this.modal
        }
      })
    }
  },
  components: {
    modal: Modal
  }
}
</script>
<style lang='scss' scoped>
#reg {
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15%;
}
#regTitle {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1%;
  color: #ff6861;
}
#regButton {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
</style>
