<template>
  <div class="tile is-child box is-8 is-paddingless">
    <div class="padding1">
    	<p class="padding1">SKILLS:</p>
    	<div class="has-white is-marginless is-paddingless box hideflow">
    		<ul class="has-text-grey padding2 is-size-7">
    			<li>
    				<table>
    					<tr>
	    					<td width="50%">SAMPLING</td>
	    					<td width="50%">
							    <star-rating 
							    	:rounded-corners="stars.rc"
							    	:max-rating="stars.mr"
							    	:inline="stars.in"
							    	:star-size="stars.ss"
							    ></star-rating>
							</td>
						</tr>
					</table>	
    			</li>
    			<li>
    				<table>
    					<tr>
	    					<td width="50%">COMPOSITION</td>
	    					<td width="50%">
							    <star-rating 
							    	:rounded-corners="stars.rc"
							    	:max-rating="stars.mr"
							    	:inline="stars.in"
							    	:star-size="stars.ss"
							    ></star-rating>
							</td>
						</tr>
					</table>       				
    			</li>
    			<li>
    				<table>
    					<tr>
	    					<td width="50%">MIXING</td>
	    					<td width="50%">
							    <star-rating 
							    	:rounded-corners="stars.rc"
							    	:max-rating="stars.mr"
							    	:inline="stars.in"
							    	:star-size="stars.ss"
							    ></star-rating>
							</td>
						</tr>
					</table>        				
    			</li>
    			<li>
    				<table>
    					<tr>
	    					<td width="50%">MASTERING</td>
	    					<td width="50%">
							    <star-rating 
							    	:rounded-corners="stars.rc"
							    	:max-rating="stars.mr"
							    	:inline="stars.in"
							    	:star-size="stars.ss"
							    ></star-rating>
							</td>
						</tr>
					</table>       				
    			</li>
    			<li>
    				<table>
    					<tr>
	    					<td width="50%">EXPERIENCE</td>
	    					<td width="50%">
							    <star-rating 
							    	:rounded-corners="stars.rc"
							    	:max-rating="stars.mr"
							    	:inline="stars.in"
							    	:star-size="stars.ss"
							    	></star-rating>
							</td>
						</tr>
					</table>       				
    			</li>
    		</ul>
    	</div>
	</div>
  </div>
</template>

<script>
	import StarRating from 'vue-star-rating'
	export default {
		data(){
			return {
				stars:{
					'rc':true,
					'mr':10,
					'in':true,
					'ss':15,
				}
			}
		},
	  components: {
	    StarRating
	  },

	};
</script>