<template>
	<div class="tile is-child has-text-center">

			<a class="padding1" href="#">
				<img src="./../../../assets/images/icon-1.png" style="width:45px;">
			</a>
			<a class="padding1" href="#">
				<img src="./../../../assets/images/icon-2.png" style="width:45px;">
			</a>
			<a class="padding1" href="#">
				<img src="./../../../assets/images/icon-3.png" style="width:45px;">
			</a >
			<a class="padding1" href="#">
				<img src="./../../../assets/images/icon-4.png" style="width:45px;">
			</a>

	</div>
</template>
