@import '../../../node_modules/bulma/sass/utilities/initial-variables';
@import '../../../node_modules/bulma/sass/utilities/functions';

// color for error tags
$tag-background-color: #aaaaaa;
$tag-color: #ff6861;

$dropdown-content-background-color: #ff6861;


@import '../../../node_modules/bulma/sass/utilities/derived-variables';
@import '../../../node_modules/bulma/bulma';



.select select {
    background-color: #dadada;
    width: 100%;


}


.button {
    background-color:#ff6861;
    color: #f2f2f2;
    border-radius: 8px;
    width: 100%;
    height: 50px;
    margin: 5px;
    font-size: 16px;    
}

.input {
    width: 100%;
    border-radius: 9px;
}

.box {
    background-color:#dadada;
    width: 100%;
    border-radius: 5px;    
}

#errorVal {
    margin: 4px;
}

.tag {
    width: 100%;
}

.html {
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
    background-color: #f3f3f2; 
}


.fade-enter-active {
    animation: fade-in 300ms ease-in forwards;

}
.fade-leave-active {
    animation: fade-out 300ms ease-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }    
}

.modal-enter-active {
    animation: fade-in 100ms ease-in forwards;

}
.modal-leave-active {
    animation: fade-out 100ms ease-out;
}

@keyframes modal-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes modal-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }

}
.slide-enter-active {
    animation: slide-in 400ms ease-in forwards;
  
  }
  .slide-leave-active {
    animation: slide-out 400ms ease-out forwards;
  
  }
  
  @keyframes slide-in {
    from {
      transform: translateY(-30px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  @keyframes slide-out {
    from {
      transform: translateY(0px);
      opacity: 1;
    }
    to {
      transform: translateY(-30px);
      opacity: 0px;
  
    }
  }