<template>

    <div class="tile is-child is-8">
        <div class="box">
          <div class="field">
            <div class="control">
              <label for="title" id="labelfullname">TITLE:</label>
              <input type="text"  class="input" placeholder="" id="title" name="title" v-validate="'required|alpha'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('title')">{{ errors.first('title') }}</span>
                </transition>
              </div>
              

              <label for="duration" id="labelfullname">DURATION:</label>
              <input type="text" class="input" placeholder="" id="duration" name="duration" v-validate="'required'">
             
             <div class="tile is-parent is-vertical">
              <label for="genre" id="labelemail">GENRE:</label>
              <div class="select">
              <select name="genre">
                <option value="" disabled="disabled">Genre</option>
                <genre v-for="genre in allGenres" :key="genre.id" :genre="genre">
                </genre>
              </select>
              </div>
             

              <label for="mood" id="labelusername">MOOD:</label>
              <div class="select">
              <select name="mood">
                <option value="" disabled="disabled">Mood</option>
                <mood v-for="mood in allMoods" :key="mood.id" :mood="mood">
                </mood>
              </select>
              </div>
              </div>
              <div class="tile is-parent">
              <div class="tile is-child is-5">
                <label for="bmp" id="labelusername">BMP:</label>
              <input type="text" class="input" placeholder="" id="bmp" name="bmp" v-validate="'required|alpha_num'">
             </div>
             <div class="tile is-child is-1"></div>
             <div class="tile is-child is-5">
               <label for="price" id="labelusername">PRICE:</label>
              <input type="text" class="input" placeholder="" id="price" name="price" v-validate="'required'">
             </div>
              
              </div>

              <label for="wav" id="labelfullname">WAV:</label>
              <input type="text"  class="input" placeholder="" id="wav" name="wav" v-validate="'required'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('wav')">{{ errors.first('wav') }}</span>
                </transition>
              </div>

              <label for="mp3" id="labelfullname">MP3:</label>
              <input type="text"  class="input" placeholder="" id="mp3" name="mp3" v-validate="'required'" :value="getMp3" disabled>
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('mp3')">{{ errors.first('mp3') }}</span>
                </transition>
              </div>
             
             

            </div>
          </div>
        </div>
  </div>
      
</template>

<script>
import Genre from './filegenre.vue'
import Mood from './filemood.vue'
export default {
    data () {
      return {
        file:{
          user:'',
          title:'',
          duration:'',
          bpm:'',
          mood:'',
          genere:'',
          sample_file:'',
          wav:''
        }
      } 
    },
    components:{
    'genre': Genre,
    'mood': Mood,
  },
    computed: {
    allMoods () {
      return this.$store.getters.AllMoods
    },
    allGenres () {
      return this.$store.getters.AllGenres
    },
    getMp3(){
      return this.$store.getters.GetMp3
    }
  },
  created () {
    this.$http
      .get('/mood/') //Esto lo trae del back- url back/fileCRUD
      .then(moods => {
        this.$store.dispatch('getMoods', moods.data)
      })
    this.$http
      .get('/genere/')  //Esto lo trae del back- url back/fileCRUD
      .then(genre => {
        this.$store.dispatch('getGenre', genre.data)
      })
  }
  
}
</script>

<style>


</style>

