<template>
  <div class="tile is-ancestor is-7" id="profile">
  <transition name="modal">
    <modal v-show="modal" @close="modal =false"></modal>
  </transition>
    <nomal :profile="profile" :user="user" @changepassword="openmodal" @edit="editProfile"></nomal>
  </div>
</template>
<script>
import Normal from './normalprofile.vue'
import Modal from '../../../modals/modalChangePassword.vue'

import swal from 'sweetalert2'

export default {
  data () {
    return {
      user: {},
      profile: {},
      modal: false,
      empty: false
    }
  },
  created () {
    this.getUser()
  },

  components: {
    'nomal': Normal,
    'modal': Modal
  },
  computed: {
    authId () {
      return this.$store.getters.AuthUserId
    }

  },
  methods: {
    getUser () {
      let token = this.$auth.getToken()
      var axiosConfig = {
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Authorization': 'token ' + token
        }
      }
      this.$http
        .get('/user/' + this.authId + '/', axiosConfig)
        .then(user => {
          this.user = user.data
        })
      this.$http
        .get('/profile/' + this.authId + '/', axiosConfig)
        .then(profile => {
          this.profile = profile.data
        })
        .catch(response => {
          this.empty = true
        })
    },
    openmodal () {
      this.modal = true
    },
    editProfile () {
      let token = this.$auth.getToken()
      var axiosConfig = {
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Authorization': 'token ' + token
        }
      }
      const user = {
        email: this.user.email,
        first_name: this.user.first_name,
        last_name: this.user.last_name
      }
      const profile = {
        user: this.authId,
        country: this.profile.country,
        state: this.profile.state,
        city: this.profile.city,
        phoneNumber: this.profile.phone_number,
        whatsapp: this.profile.whatsapp,
        gender: this.profile.gender,
        birthday: this.profile.birthday,
        paypal_email: this.profile.paypal_email,
        recovery_email: this.profile.recovery_email
      }
      this.$http
        .patch('/user/' + this.authId + '/', user, axiosConfig)
        .then(response => {
          //  swal({
          //    type: 'success',
          //    title: 'Profile',
          //    text: 'You have Updated your Your',
          //    confirmButtonClass: 'button',
          //    buttonsStyling: false,
          //    background: '#f2f2f2'
          //  })
        })
      if (this.empty) {
        this.$http
          .post('/profile/', profile, axiosConfig)
          .then(response => {
            console.log('nuevo profile')
          })
      } else {
        delete profile['user']
        this.$http
          .patch('/profile/' + this.profile.id + '/', profile, axiosConfig)
          .then(response => {
            console.log('updated')
          })
      }
    }

  }

};
</script>
<style scoped>
#profile {
  margin-left: auto;
  margin-right: auto;
}
</style>
