<template>
<div class="tile is-parent">
  <div class="tile is-parent is-vertical is-4">
    <userdata :user="user"></userdata>
    <emails :profile="profile"></emails>
  </div>
  <div class="tile is-parent is-vertical is-4">
    <extradata :profile="profile"></extradata>
    <buttons @change="changepassword" @edit="edit" ></buttons>
  </div>
</div>
</template>
<script>
import UserData from './profilescomp/user.vue'
import PaypalEmail from './profilescomp/paypalemail.vue'
import ExtraData from './profilescomp/userextradata.vue'
import Buttons from './profilescomp/buttons.vue'
export default {
  created () {
    this.$http
      .get('/country/')
      .then(country => {
        console.log(country)
      })
  },
  props: ['user', 'profile'],
  components: {
    'userdata': UserData,
    'emails': PaypalEmail,
    'extradata': ExtraData,
    'buttons': Buttons
  },
  methods: {
    changepassword () {
      return this.$emit('changepassword')
    },
    edit () {
      return this.$emit('edit')
    }

  }
}
</script>
<style scoped>

</style>
