<template>
	<div class="tile is-child is-paddingless">
		<div class="padding1 box">
			<p class="padding1">MY TOOLS:</p>
	        <div class="box has-white is-paddingless is-marginless">
	        	<ul class="has-text-grey padding2 is-size-6">
	        		<li>1) Ableton Live</li>
	        		<li>2) Maschine mk2</li>
	        		<li>3) Rfex Nexus</li>
	        		<li>4) Roli</li>
	        		<li>5) Battery</li>
	        	</ul>
	        </div>
	      	<div class="has-text-right is-12">
	      		<a href="#" class="is-italic has-text-danger is-size-6" @click="">
	      			EDIT >		
	      		</a>		
	      	</div>	        
        </div>
    </div>


</template>
<script></script>
<style></style>