<template>

<div class="tile is-child is-paddingless">
	<div class="padding1 box">
  		<p class="padding1">MY BIO:</p>
  		<div class="box is-paddingless is-marginless hideflow">
	      	<textarea class="textarea has-text-grey" style="resize:none; font-size:12px;" placeholder="200 Characters" v-model="bioText" maxlength="200">
	      	</textarea>
	    </div>
      	<div class="has-text-right is-12">
      		<a href="#" class="is-italic has-text-danger is-size-6" @click="editBio">
      			EDIT >		
      		</a>		
      	</div>
    </div>
</div>
</template>

<script>
	import swal from "sweetalert2";
	export default {
		props:['userId','aConfig'],
		data(){
			return {
				bioText:"",
				profile_id:0,
			}
		},
		created () {
			this.setProfileId();
			this.setBio();
		},

		methods:{
			setProfileId(){
				this.$http
					.get('/producer_profile/' + this.userId + '/', this.aConfig)
					.then(response => {
						console.log(response.data);
						this.profile_id = response.data.id;
				});
			},
			setBio(){
				this.$http
					.get('/producer_profile/' + this.userId + '/', this.aConfig)
					.then(response => {
						console.log(response.data);
						this.bioText = response.data.bio;
				});
			},								
			editBio () {
				this.setProfileId;
				const text = {
					bio:this.bioText
				};

				this.$http
					.patch('/producer_profile/'+this.profile_id+'/', text, this.aConfig)
					.then(profile => {
			          console.log(profile.data);
			          this.bioText = profile.data.bio;
						if (profile.status === 200) {
			                swal({
			                  type: "success",
			                  title: "My Biography",
			                  text: "Saved successfully!",
			                  confirmButtonClass: "button",
			                  buttonsStyling: false,
			                  background: "#f2f2f2"
			                });
			            }
		        });

			},	
		}
	};
</script>