<template>
		<div class="tile is-parent is-vertical is-3">
			<div class="has-white rounded100" style="width:100px;">
	    		<img :src="image" :onerror="imageError()">
	    	</div>
	    </div>
	   
  	
</template>

<script>
	export default {
		data(){
			return {
				image:'',
			}
		},
		methods:{
			imageError(){
				this.image = "http://localhost:8000/media/profile_default.png";
			}
		}
	};
</script>