<template>
	<div class="tile is-child box is-9 has-black is-paddingless">
		<p class="has-text-white padding2 is-size-7	">PREMIER</p>
		<div class="is-12 has-grey is-marginless img-box-padding">
			<div class="has-white rounded100" style="width:100px;">
	    		<img :src="image" :onerror="imageError()">
	    	</div>
	    </div>
  	</div>
</template>

<script>
	export default {
		data(){
			return {
				image:'',
			}
		},
		methods:{
			imageError(){
				this.image = "http://localhost:8000/media/profile_default.png";
			}
		}
	};
</script>