<template>

<article class="tile is-child message">
  <div class="message-header">Filters</div>
  <div class="message-body box ">
    <div class="control">
      <div>producer</div>
      <div class="select">
        <select name="mood" v-model="mood">
          <option value="" disabled="disabled">Mood</option>
          <mood v-for="mood in allMoods" :key="mood.id" :mood="mood">
          </mood>
        </select>
      </div>
      <div class="select">
        <select name="genre" v-model="genre">
          <option value="" disabled="disabled">Genre</option>
          <genre v-for="genre in allGenres" :key="genre.id" :genre="genre">
          </genre>
        </select>
      </div>
      <div>
        Sales
      </div>
      <div>
        <button class="button" >asdasda</button>
      </div>
    </div>
  </div>
</article>

</template>
<script>
import Filtermood from './filtermood.vue'
import FilterGenre from './filtergenre.vue'
export default {

  data () {
    return {
      genre: '',
      mood: ''

    }
  },
  components: {
    'mood': Filtermood,
    'genre': FilterGenre
  },
  computed: {
    allMoods () {
      return this.$store.getters.AllMoods
    },
    allGenres () {
      return this.$store.getters.AllGenres
    }
  },
  created () {
    this.$http
      .get('/mood/')
      .then(moods => {
        this.$store.dispatch('getMoods', moods.data)
      })
    this.$http
      .get('/genere/')
      .then(genre => {
        this.$store.dispatch('getGenre', genre.data)
      })
  }
}
</script>

<style>

</style>
