<template>
  <div class="tile is-child is-8">
      <button class="button" v-if="user!=1" @click="profile">MY PROFILE</button>
      <button class="button" v-if="user==3">WISH LIST</button>
      <button class="button" v-if="user==2">MY BEATS</button>
      <button class="button" v-if="user==2">UPLOAD BEAT</button>
      <button class="button" v-if="user==2" @click="editPlaylist">EDIT MY PLAYLIST</button>
      <button class="button" v-if="user==2">MY ANALYTICS</button>
      <button class="button" v-if="user==1">ANALYTICS</button>
      <button class="button" v-if="user==1">DATA BASE</button>
      <button class="button" v-if="user==1">PRODUCER</button>
      <button class="button">THE SPOT</button>
      <button class="button" v-if="user==1">AUCTIONS</button>
  </div>
</template>
<script>
export default {
  props: ['user'],
  methods: {
    profile () {
      this.$router.push('/myprofile');
      this.$store.dispatch('getTitle', 'MY PROFILE');
    },
    editPlaylist(){
      this.$router.push('/editplaylist');
      this.$store.dispatch('getTitle', 'EDIT MY PLAYLIST');
    }
  }
};
</script>
