<template>
  <div id="app">
    <div class="logo-box">
      <img src="./assets/images/repro_logo.png" width="200px">
    </div>

    <div class="tile is-ancestor is-vertical">
      <div class="tile is-parent sup-margin">
          <div class="tile is-child is-3"></div>
          <div class="tile is-child is-5">
            <div  class="has-text-centered has-text-black is-italic is-size-5" 
                  v-if="isAuthtenticated && AuthUserType == 2">
              <span>{{GetTitle}}</span>
            </div>
          </div>
          <logout :verify="isAuthtenticated"></logout>

      </div>
      <div class="tile is-parent" id="content">
        <transition name="slide" mode="out-in">
          <router-view 
            :UserType="AuthUserType" 
            :Authtenticated="isAuthtenticated"
          />
        </transition>
      </div>
    </div>
    <div id="footer">
     <foot></foot>
    </div>
  </div>
</template>

<script>
import Foot from './components/footer.vue'
import Logout from './components/logout.vue'
export default {
  name: 'App',

  components: {
    'foot': Foot,
    'logout': Logout
  },
  computed: {
    isAuthtenticated () {
      return this.$store.getters.isAuthtenticated;
    },
    AuthUserType () {
      return this.$store.getters.AuthUserType;
    },
    GetTitle(){
      return this.$store.getters.OnlyTitle;
    },
  },
  mounted () {
    this.$store.dispatch('IsAuthenticated');
  },

};

</script>

<style lang="scss">
  @import './assets/scss/style.scss';
  #content {
    margin-bottom: 200px
  }

</style>
