<template>
<div id="test">
  <div class="columns ">
    <div class="column title has-text-centered">User: {{AuthtenticatedUser}}</div>
  </div>
  <div class="columns">
    <div class="column is-2 has-text-centered">
      <figure class="image is-128x128">
        <img src="https://bulma.io/images/placeholders/256x256.png">
      </figure>
    </div>
    <div class="column is-3 ">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is_parent">
          <div class="tile is-child box">
            <p class="title is-5">MY BIO:</p>
            <textarea class="textarea" placeholder="200 Characters" rows="10"></textarea>
            <a href="">Edit ></a>
          </div>
          <div class="tile is-child box">
            <label for="" id="">PAYPAL EMAIL:</label>
            <input type="text" class="input" placeholder="" id="" name="">
            <a href="">Edit ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-3">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is_parent">
          <div class="tile is-child box">
            <p class="title is-5">MY BEATS:</p>
            <section class="section box" id="beat">
              <ol>
                <li>Eiusmod pariatur id amet laboris. </li>
                <li>Proident non do exercitation.</li>
                <li>Reprehenderit fugiat ea nulla ea.</li>
                <li>In et nisi sit do fugiat quis laboris.</li>
                <li>Eiusmod pariatur id amet laboris. </li>
                <li>Proident non do exercitation.</li>
                <li>Reprehenderit fugiat ea nulla ea.</li>
                <li>In et nisi sit do fugiat quis laboris.</li>
                <li>Eiusmod pariatur id amet laboris. </li>
                <li>Proident non do exercitation.</li>
                <li>Reprehenderit fugiat ea nulla ea.</li>
                <li>In et nisi sit do fugiat quis laboris.</li>
              </ol>
            </section>
            <a href="">SHARE ></a>
          </div>
          <div class="tile is-child box">

            <label for="" id="">FACEBOOK:</label>
            <input type="text" class="input" placeholder="" id="" name="">

            <label for="" id="">INSTAGRAM:</label>
            <input type="text" class="input" placeholder="" id="" name="">

            <label for="" id="">OTHER:</label>
            <input type="text" class="input" placeholder="" id="" name="">

          </div>
        </div>
      </div>
    </div>
    <div class="column has-text-centered">
      <div class="tile is-ancestor">
        <div class="tile is-vertical is_parent">
          <div class="tile is-child">
            <button class="button">UPLOAD NEW BEAT</button>
          </div>
          <div class="tile is-child">
            <button class="button">EDIT MY PLAYLIST</button>
          </div>
          <div class="tile is-child">
            <button class="button">My ANALITICS</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</template>
<script>
export default {
  computed: {
    AuthtenticatedUser () {
      return this.$store.getters.AuthtenticatedUser
    }
  }
};
</script>
<style scoped>
#test{
  margin: 50px;
}
img {
    border-radius: 50%;
}

.column {
  margin: 10px;
}

#beatlist{
  height: 60px;
}

</style>
