<template>
<div class="tile is-ancestor" style="margin-top:0 !important;">

  <div class="tile is-vertical is-parent is-3">

        <beatfilter v-if="UserType===3"></beatfilter>
    
    <bio v-if="UserType===2" :userId="authId" :aConfig="axiosConfig"></bio>
    <tools v-if="UserType===2"></tools>
    <social></social>

  </div>
  <div class="tile is-5 is-vertical is-parent is-vertical-center">
      <producercar></producercar>
      <player></player>
      <producerbio></producerbio>

  </div>
  <div class="tile is-parent is-vertical is-1"></div>
  <div class="tile is-parent is-vertical is-3">
      <buttons v-if="Authtenticated==true" :user='UserType'></buttons>
  </div>

</div>

</template>
<script>
import Filter from './filter/filters.vue'
import Player from './reproductor/player.vue'
import PLaylist from './playlist/playlist'
import Button from './buttons/button.vue'
import ProducerCar from './producers/producercar.vue'
import ProducerBio from './producerBio/producerbio.vue'
import Bio from './bio/bio.vue'
import Tools from './tools/tools.vue'
import Social from './social/social.vue'

export default {
  props:['UserType','Authtenticated'],
  data(){
    return {
      title:'DASHBOARD',
    }
  },
  components: {
    'beatfilter': Filter,
    'player': Player,
    'playlist': PLaylist,
    'buttons': Button,
    'producercar': ProducerCar,
    'producerbio': ProducerBio,
    'bio': Bio,
    'tools':Tools,
    'social':Social,

  },
  computed: {
    authId () {
      return this.$store.getters.AuthUserId
    },
    axiosConfig () {
      let token   = this.$auth.getToken();
      var config  = {
        headers: {
          'Accept': 'application/json, text/plain, */*',
          'Authorization': 'token ' + token
        }
      };
      return config;
    },

  },

  created () {
    this.SetUserType();
    this.$store.dispatch('getTitle', this.title);
  },
  updated () {
    this.SetUserType();
    this.$store.dispatch('getTitle', this.title);
  },

  methods: {

    SetUserType () {

      this.$http
        .get('/auth/', this.axiosConfig)
        .then(response => {
          this.$store.dispatch('SetUserType', response.data.user_type)
          this.$store.dispatch('SetUserId', response.data.id)
        })
    },
  }

};
</script>
<style scoped>
#test{
  margin: 50px;
}
img {
    border-radius: 50%;
}

.is-ancestor {

margin:2%;
}

#beatlist{
  height: 60px;
}

</style>
