<template>
	<article class="tile is-child is-9 box is-paddingless hideflow">
		<figure  class="image is-1by3">
  			<img src="./player.png" alt="" style="height:100px;">
  		</figure>
  	</article>
</template>

<script>
export default {

};
</script>
<style scoped>

</style>
