<template>
  <div class="tile is-child">
    <button class="button" @click="opencp">Change Password</button>
    <button class="button" @click="edit">Edit Profile</button>
  </div>
</template>
<script>
export default {
  methods: {
    opencp () {
      return this.$emit('change')
    },
    edit () {
      return this.$emit('edit')
    }
  }

}
</script>
