<template>
        <form class="tile is-child box">
          <div class="field">
            <div class="control">
                <div class="select" >
                  <select v-model="profile.gender" v-validate="'required'" id="gender" name="gender">
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                  </select>
                </div>
                <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('gender')">{{ errors.first('gender') }}</span>
                </transition>
              </div>
                <input v-model="profile.birthday" type="text"  class="input" placeholder="" id="birthday" name="birthday" v-validate="'required'">
                <input id="datepickerDemo" class="input" type="text">
                <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('birthday')">{{ errors.first('birthday') }}</span>
                </transition>
              </div>
              <label for="paypal">PAYPAL EMAIL:</label>
                <input v-model="profile.paypal_email" type="text"  class="input" placeholder="" id="paypal" name="paypal" v-validate="'required|email'">
                <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('paypal')">{{ errors.first('paypal') }}</span>
                </transition>
              </div>
              <label for="recovery">RECOVERY EMAIL:</label>
                <input v-model="profile.recovery_email" type="text"  class="input" placeholder="" id="recovery" name="recovery" v-validate="'required|email'">
                  <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('recovery')">{{ errors.first('recovery') }}</span>
                </transition>
              </div>
            </div>
          </div>
        </form>
</template>
<script>
export default {
  props: ['profile']
}
</script>
