<template>
      <form class="tile is-child box  is-desktop">
          <div class="field">
            <div class="control">
              <label for="firstname" id="labelfullname">FIRST NAME:</label>
              <input type="text" v-model="user.first_name" class="input" placeholder="" id="firstname" name="firstname" v-validate="'required|alpha'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('firstname')">{{ errors.first('firstname') }}</span>
                </transition>
              </div>

              <label for="lastname" id="labelfullname">LAST NAME:</label>
              <input type="text" v-model="user.last_name" class="input" placeholder="" id="lastname" name="lastname" v-validate="'required|alpha'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('lastname')">{{ errors.first('lastname') }}</span>
                </transition>
              </div>
              <label for="email" id="labelemail">EMAIL:</label>
              <input type="text" v-model="user.email"  class="input" placeholder="" id="email" name="email" v-validate="'required|email'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('email')">{{ errors.first('email') }}</span>
                </transition>
              </div>

              <label for="username" id="labelusername">USERNAME:</label>
              <input type="text" v-model="user.username" class="input" placeholder="" id="username" name="username" v-validate="'required|alpha_num'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('username')">{{ errors.first('username') }}</span>
                </transition>
              </div>
            </div>
          </div>
    </form>
</template>
<script>
export default {
  props: [ 'user' ]
}
</script>
