<template>
          <form class="tile is-child box  is-desktop">
          <div class="field">
            <div class="control">
              <label for="country" id="labelcountry">COUNTRY:</label>
              <input v-model="profile.country" type="text"  class="input" placeholder="" id="country" name="country" v-validate="'required|alpha'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('country')">{{ errors.first('country') }}</span>
                </transition>
              </div>

              <label for="state" id="labelfullname">STATE:</label>
              <input type="text" v-model="profile.state"  class="input" placeholder="" id="state" name="state" v-validate="'required|alpha'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('state')">{{ errors.first('state') }}</span>
                </transition>
              </div>
              <label for="city" id="labelecity">CITY:</label>
              <input v-model="profile.city" type="text"  class="input" placeholder="" id="city" name="city" v-validate="'required|email'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('city')">{{ errors.first('city') }}</span>
                </transition>
              </div>

              <label for="phone" id="labelphone">PHONE NUMBER:</label>
              <input v-model="profile.phone_number" type="text"  class="input" placeholder="" id="phone" name="phone" v-validate="'required|alpha_num'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('phone')">{{ errors.first('phone') }}</span>
                </transition>
              </div>

              <label for="whatsapp" id="labelwhatsapp">WHATSAPP NUMBER:</label>
              <input v-model="profile.whatsapp" type="text"  class="input" placeholder="" id="whatsapp" name="whatsapp" v-validate="'required|alpha_num'">
              <div id="errorVal">
                <transition name="fade" mode="out-in">
                  <span class="tag is-rounded" v-show="errors.has('whatsapp')">{{ errors.first('whatsapp') }}</span>
                </transition>
              </div>

            </div>
          </div>
    </form>
</template>
<script>
export default {
  props: ['profile']
}
</script>
